auto/
*.pyc
*.aux
*.toc
*.bbl
*.blg
*.dvi
*.log
*.out
*.lot
*.lof
test.sml
npc.spec
npc.spec.sml
/src/main.sml
/src/main1.sml
/src/main2.sml
/src/test
doc/_region_.tex
src/thoughts.html
src/testbed/replication
src/testbed/testfile

